name: CI

on:
  push:
    branches:
      - main
permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     node: [20, 22]

    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install -g pnpm
      - run: pnpm install
      - run: pnpm run test

      - name: Generate tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::633832255605:role/erc_role_devops
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@v2

      # - name: Login into the container registry
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_TOKEN }}

      # - name: Build and Push
      #   uses: docker/build-push-action@v5
      #   with:
      #     push: true
      #     tags: lucasgomesmatos/project-iac:${{ steps.generate_tag.outputs.sha }},lucasgomesmatos/project-iac:latest

      # - name: Build docker image
      #   run: docker build -t lucasgomesmatos/project-iac:${{ steps.generate_tag.outputs.sha }} .

      # - name: Push docker image
      #   run: docker push lucasgomesmatos/project-iac:${{ steps.generate_tag.outputs.sha }}
